.fullscreen-icon {
    background-image: url(../img/icon-fullscreen.2.svg) !important;
    background-position: 0 0 !important;
    background-size: 27px 50px !important;
}

.fullscreen-icon.leaflet-fullscreen-on {
    background-position: 0 -25px !important;
}

.leaflet-touch .fullscreen-icon {
    background-position: 2px 2px;
}

.leaflet-touch .fullscreen-icon.leaflet-fullscreen-on {
    background-position: 2px -24px;
}

.leaflet-container:-webkit-full-screen {
    width: 100% !important;
    height: 100% !important;
    z-index: 99999;
}

.leaflet-container:-ms-fullscreen {
    width: 100% !important;
    height: 100% !important;
    z-index: 99999;
}

.leaflet-container:full-screen {
    width: 100% !important;
    height: 100% !important;
    z-index: 99999;
}

.leaflet-container:fullscreen {
    width: 100% !important;
    height: 100% !important;
    z-index: 99999;
}

.leaflet-pseudo-fullscreen {
    position: fixed !important;
    width: 100% !important;
    height: 100% !important;
    top: 0px !important;
    left: 0px !important;
    z-index: 99999;
}